@* @{
    ViewData["Title"] = "NotFound 404";
} *@
<h4>This page has not found</h4>
<img src="https://cdn3.vectorstock.com/i/1000x1000/52/67/404-error-with-icon-tab-wedsite-error-vector-20395267.jpg" />